#gitignore

#ignore virtualenv
venv1/
venv3_11/


#ignore local environment file
.env
.env.*.local


#ignore local SQLite DB
db.sqlite3

#python cache
__pycache__/
*.pyc

#django migrations
**/migrations/*.py
**/migrations/*.pyc

#node (frontend)
node_modules/
build/

#media/uploads
media/

#static files (collected)
staticfiles/

#IDE & OS cruft
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
logs/